# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables file
.env

# macOS files
.DS_Store

# Log files
*.log

# Other files
*.sqlite3
